h1,h2,h3,h4,h5,h6 {
    font-weight: 600 !important;
    margin: 0.8rem 0;
}

.no-radius {
    border-radius: 0 !important;
}

i.bi{
    font-size: 1.5rem !important;
    color: #646464;
    padding: 1px 6px; 
    border: 0.4px solid #929292 ;
    border-radius: 3px;
    display: inline-block;
}

button.unset-btn{
    border: none !important;
    appearance: none !important;
}